<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>나를 위한 전적 검색 프로그램</title>
    <link rel="stylesheet" herf="../static/css/main.css">
</head>
<body>
    <div th:replace="header.html"></div>
        <div class="container" id="allDiv">
            <div class="col-md-12 text-center p-1" id="mainHeader" style="background-color :#6D72C3; border-radius:5px;">
                    <div class="row g-3">
                        <!-- 왼쪽 백그라운드 이미지 넣는 곳 -->
                        <div class="col-md-1">
                            <img src="../img/bg_illust/bg_jinx.png" width="150px" height="150px">
                        </div>
                        <!--내 아이디 입력 란 -->
                        <div class="offset-2 col-md-5 my-5">
                            <input type="text" class="form-control" id="myId" name="myId" placeholder="아이디를 입력해주세요" aria-label="myId">
                        </div>
                        <!-- 조회 버튼-->
                        <div class="col-md-1 my-5">
                                <button class="form-control" type="button" onclick="idInput()">조회</button>
                        </div>
                        <!--오른쪽 백그라운드 이미지 넣는 곳 -->
                        <div class="offset-2 col-md-1">
                            <!-- <img src="이미지 넣을 파일명" width="150px" height="150px"> -->
                        </div>
                    </div>
            </div>
            <!--게임정보-->
            <div class="col-md-12" id="main">
                <!--데이터 조회 상태 창-->
                <div class="col-md-12 text-center" id="mainStatusInfo"></div>
                <!--스피너-->
                <div class="text-center py-5" id="loading">
                    <div class="spinner-border text-info" role="status"></div>
                        <span class="mb-5">데이터 불러오는 중...</span>
                </div>
                <!--유저정보-->
                <div class="row m-3">
                    <!--랭크정보-->
                    <div class="col-md-6" id="userRankInfo"></div>
                    <!--모스트 챔피언-->
                    <div class="col-md-6" id="mostChamp"></div>
                    <!--매치 데이터 조회창 -->
                    <div class="col-md-12" id="matchDataInfo"></div>
                    <!--차트-->
                    <div class="col-md-12" id="charts"></div>
                </div>
            </div>
        </div>
    <div th:replace="footer.html"></div>
    <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>